/* 1 buttons css */
.btn-1{
    background-color: lightpink;
    border-style: none;
    border-radius: 20px 2px 20px 2px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

/* 2 button css */
.btn-2{
    background-color: lightseagreen;
    border-style: dashed;
    border-radius: 30px 40px 90px 100px;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
}

/* 3 button css */
.btn-3{
    background-color: lightskyblue;
    border-style: dotted;
    border-radius: 110px 90px 20px 150px;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
}

/* 4 button css */
.btn-4{
    background-color: lightsalmon;
    border-style:double;
    border-radius: 150px 2px 150px 2px;
    font-size: 20px;
    padding: 40px;
    cursor: pointer;
}

/* 5 button css */
.btn-5{
    background-color:lightgreen;
    border-style:solid;
    border-radius: 70px 130px 60px 1225px;
    font-size: 40px;
    padding: 50px;
    padding-left: 60px;
    cursor: pointer;
}

/* 6 button css */
.btn-6{
    background-color:yellow;
    border-style:dotted;
    border-radius: 3000px 200px 600px 89px;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
}

/* 7 button css */
.btn-7{
     background-color:lightcoral;
    border-style:groove;
    border-radius: 9000px 200px 400px 100px;
    font-size: 40px;
    padding: 30px;
    padding-left: 60px;
    cursor: pointer;
}
