/* 1 buttons css */
.btn-1{
    background-color: lightpink;
    border-style: none;
    border-radius: 20px 2px 20px 2px;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

/* 2 button css */
.btn-2{
    background-color: lightseagreen;
    border-style: dashed;
    border-radius: 30px 40px 90px 100px;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
}

/* 3 button css */
.btn-3{
    background-color: lightskyblue;
    border-style: dotted;
    border-radius: 110px 90px 20px 150px;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
}

/* 4 button css */
.btn-4{
    background-color: lightsalmon;
    border-style:double;
    border-radius: 150px 2px 150px 2px;
    font-size: 20px;
    padding: 40px;
    cursor: pointer;
}

